@import url("font/gopher/stylesheet.css");

body{
  background-color: #E8EAD4;
  background-image: url("./assets/imgs/txt0.png");
  font: gopher;
}

*{
  margin: 0;
}

.navbar{
  margin-left: 40px;
  margin-top: 30px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 16px;
  width: 134px;
  font-family: "Space Grotesk";
  font-style: italic;
  margin-bottom: none;
  margin-top: none;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 52px;
}

.btn{
  transform: scale(1.1);
}

.landing{
  display: flex;
  justify-content: center;
  margin-top: 72px;
}

.land{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 82px;
  flex-direction: row;
  background-color: #E6B91E;
  width: 1110px;
  height: 415px;
  border-radius: 16px;
}

.slice{
  width: 474px;
  height: 332px;
  box-shadow: 0px 0px 8px 2px #0E0E0E;
}

.basic{
  padding-left: 80px;
  display: flex;
}

.role,
.dur,
.tool{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.role{
  padding-right: 260px;
}

.dur{
  padding-right: 390px;
}

.tit{
  font-family: "gopher";
  font-size: 32px;
  font-weight: 700;
  width: 73px;
}

.titt,
.sub{
  font-family: "gopher";
  font-size: 32px;
  font-weight: 700;
}
.titt{
  margin-top: 80px;
}

.desg{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #161616;
}

.mean{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #161616;
  width: 860px;
  line-height: 130%;
}

.expl{
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  gap: 168px;
  padding-left: 80px;
}

.ul{
  font-weight: 600;
  opacity: 100%;
}

.exp{
  margin-top: -80px;
  margin-bottom: 33px;
  display: flex;
  padding-left: 80px;
}

.users{
  display: flex;
  gap: 60px;
  margin-left: 80px;
}

.frank{
  width: 145px;
  height: 145px;
  object-fit: cover;
  border: 1.5px solid #E6B91E;
  box-shadow: 6px 6px #E6B91E;
}

.info{
  display: flex;
  gap: 16px;
  padding: 42px 36px 42px 36px;
  border: 3px solid #E6B91E;
  box-shadow: 6px 6px #E6B91E;
}

.intro,
.cap{
  color: #161616;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  line-height: 220%;
  width: 260px;
}
.cap{
  font-weight: bold;
  background-color: #E6B91E;
}

.pains{
  color: #161616;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  line-height: 145%;
  width: 460px;
  padding: 40px 32px 40px 32px;
  border: 3px solid #E6B91E;
  box-shadow: 6px 6px #E6B91E;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 86px;
}

.spc,
.spc2{
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
}
.spc2{
  margin-top: 0;
}

.exp2{
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.sub{
  font-size: 16px;
  color: #2E2F2A;
}

.typo-allgn{
  display: flex;
  gap: 72px;
}

.typo{
  width: 510px;
  box-shadow: 10px 10px #000;
}

.palette{
  margin: 80px;
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.color-box {
  width: 340px;
  height: 200px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.wh,
.bl{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Space Grotesk";
}
.bl{
  color: #000;
  font-weight: bold;
}

.yellow {
  background-color: #e6b91e;
  color: #000;
}

.black {
  background-color: #000000;
}

.white {
  background-color: #ffffff;
  color: #000;
}

.dark-gray {
  background-color: #2d2d2d;
}

.blue {
  background-color: #5799ef;
}

.gray {
  background-color: #1f1f1f;
}

.designs{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.navs{
  width: 900px;
}

.points{
  font-family: "space grotesk";
  font-size: 16px;
}

.card{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.cards{
  height: 350px;
}


/* footer section */
.footer{
  background-color: #2AA060;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.style{
  font-family: "Space Grotesk";
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.style:hover{
  text-decoration: underline;
}

.bar{
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 550;
  color: #E8EAD4;
}

.pages,
.contact,
.social{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page,
.contac,
.socia{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.links{
  display: flex;
  gap: 60px;
  margin-left: 850px;
}

.connect{
  font-family: "Gopher";
  color: #fff;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 16px;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.credit{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #FFF;
  margin-left: 16px;
  margin-top: 80px;
}