@import url("font/gopher/stylesheet.css");

body{
  background-color: #E8EAD4;
  background-image: url("./assets/imgs/txt0.png");
}

*{
  margin: 0;
}

.navbar{
  margin-left: 40px;
  margin-top: 30px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 16px;
  width: 134px;
  font-family: "Space Grotesk";
  font-style: italic;
  margin-bottom: none;
  margin-top: none;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 52px;
}

.btn{
  transform: scale(1.1);
}

.prjt-in{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 160px;
}

.intro-div{
  width: 856px;
  height: 303px;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 35px 58px 35px 27px;
  border: 4px solid #2AA060;
  box-shadow: 15px 15px #2AA060;
}
.tone{
  color: #2AA060;
}

.word{
  color: #000;
  font-family: "Gopher";
  font-size: 48px;
  font-weight: 700;
  width: 592px;
  margin-top: 15px;
}

.graphic{
  width: 250px;
  height: 303px;
}

.prjt{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 76px;
}

.dec{
  text-decoration: none;
}

.upfi,
.imdb{
  width: 1091px;
  height: 529px;
  /* border: 2px solid #000; */
  background-color: #fff;
  display: flex;
  gap: 72px;
  transform: scale(0.94);
}

.upfi:hover{
  background-color: #72E1CD;
  box-shadow: 12px 12px #1b1b1b;
  transform: scale(0.98);
  transition: all 0.5s;
  border: none;
}

.imdb:hover{
  background-color: #E6C342;
  box-shadow: 12px 12px #1b1b1b;
  transform: scale(0.98);
  transition: all 0.5s;
  border: none;
}


.up{
  color: #000;
  font-family: "gopher";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 35px 0px 0px 37px;
}

.up-info{
  color: #3A3A3A;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0px 0px 0px 37px;
  width: 258px;
}

.upf,
.imd{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.prjt-img{
  width: 603.219px;
  height: 460.069px;
  margin-top: 35px;
  border-radius: 29px;
}

.footer{
  background-color: #2AA060;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.style{
  font-family: "Space Grotesk";
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.style:hover{
  text-decoration: underline;
}

.bar{
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 550;
  color: #E8EAD4;
}

.pages,
.contact,
.social{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page,
.contac,
.socia{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.links{
  display: flex;
  gap: 60px;
  margin-left: 850px;
}

.connect{
  font-family: "Gopher";
  color: #fff;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 20px;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.credit{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #FFF;
  margin-left: 20px;
  margin-top: 80px;
}
