@import url("font/gopher/stylesheet.css");

body{
  background-color: #E8EAD4;
  background-image: url("./assets/imgs/txt0.png");
  font: gopher;
}

*{
  margin: 0;
}

.navbar{
  margin-left: 3.2%;
  margin-top: 2.4%;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 8.9vh;
}

.btn{
  transform: scale(1.1);
}

.landing{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 4%;
}

.land{
	width: 88%;
	border-radius: 20px;
}

.basic{
  padding-left: 6.34%;
  display: flex;
}

.role,
.dur,
.tool{
  display: flex;
  flex-direction: column;
  gap: 1.8vh;
  margin-top: 4.2%;
}

.role{
  padding-right: 22%;
}

.dur{
  padding-right: 32%;
}

.case2{
  padding-left: 6.3%;
}

.align{
  display: flex;
  gap: 20%;
}

.tit,
.tit2{
  font-family: "gopher";
  font-size: 32px;
  font-weight: 700;
  width: 6.2%;
}
.tit2{
  width: 90%;
}

.desg{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #161616;
}

.expl{
  margin-top: 6.2%;
  margin-bottom: 6.2%;
  display: flex;
  gap: 14.2%;
  padding-left: 6.3%;
}

.expl2{
  margin-bottom: 6.2%;
  display: flex;
  flex-direction: column;
  padding-left: 0%;
}

.mean{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #161616;
  width: 75%;
  line-height: 130%;
}
.mean2{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #161616;
  line-height: 130%;
  width: 400px;
}

.titt,
.sub{
  font-family: "gopher";
  font-size: 32px;
  font-weight: 700;
}
.titt{
  margin-top: 6.5%;
}

.exp{
  margin-top: -6.5%;
  margin-bottom: 2.6%;
  display: flex;
  padding-left: 6.3%;
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 24%;
  height: 60vh;
}

.users{
  display: flex;
  gap: 5%;
  margin-left: 6.4%;
}


.frank{
  width: 24.8vh;
  height: 24.8vh;
  object-fit: cover;
  border: 1.5px solid #3FDCC9;
  box-shadow: 6px 6px #3FDCC9;
}

.info{
  display: flex;
  gap: 16px;
  padding: 42px 36px 42px 36px;
  border: 3px solid #3FDCC9;
  box-shadow: 6px 6px #3FDCC9;
}

.intro,
.cap{
  color: #161616;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  line-height: 220%;
  width: 260px;
}
.cap{
  font-weight: bold;
  background-color: #3FDCC9;
}

.pains{
  color: #161616;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  line-height: 145%;
  width: 460px;
  padding: 40px 32px 40px 32px;
  border: 3px solid #3FDCC9;
  box-shadow: 6px 6px #3FDCC9;
}

.spc,
.spc2{
  margin-top: 21.5%;
  margin-left: 6.4%;
  margin-right: 6.4%;
}
.spc2{
  margin-top: 6.5%;
}

.guide{
  display: flex;
  gap: 10%;
}

.font{
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.clr{
  width: 460px;
}

.styl{
  margin-bottom: 40px;
}

.typo{
  width: 510px;
  box-shadow: 10px 10px #000;
}

.sys{
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.16);
}

.view{
  width: 280px;
  border-radius: 45px;
}

.mobile{
  display: flex;
  justify-content: center;
  gap: 120px;
  margin-bottom: 80px;
}

.mobile2{
  display: flex;
  justify-content: center;
  gap: 120px;
}

/* footer section */
.footer{
  background-color: #2AA060;
  width: 100%;
  height: 400px;
  margin-top: 100px;
}

.style{
  font-family: "Space Grotesk";
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
.style:hover{
  text-decoration: underline;
}

.bar{
  margin: 0px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 550;
  color: #E8EAD4;
}

.pages,
.contact,
.social{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.page,
.contac,
.socia{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.links{
  display: flex;
  gap: 60px;
  margin-left: 850px;
}

.connect{
  font-family: "Gopher";
  color: #fff;
  font-size: 48px;
  font-weight: bolder;
  margin-left: 16px;
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.credit{
  font-family: "Space Grotesk";
  font-size: 16px;
  color: #FFF;
  margin-left: 16px;
  margin-top: 80px;
}